[2017-07-23 00:24] ZephyrRaine opened #2 "Use file or AudioSource as input?"
Hello keijiro, thanks for that and all of your work, you're really bringing great and useful features to Unity 🥇

I was wondering if there was any way to use a file as input for Lasp, or if it could be done easily by modifying your source code?
It works fine when setting Stereo Mix as a recording device, but it probably won't be enabled for the random user.
Not being that much of a savvy guy, I wa

[2017-07-23 02:17] keijiro commented on #2
No, but I have a plan to add "feedback mode" that allows using Unity's Audio Mixer as an input to LASP.

[2017-07-23 12:10] ZephyrRaine commented on #2
Thanks for your answer, looking forward to it.
If there's any way we can help let us know :)

[2017-08-09 17:12] chuckbergeron opened #3 "ASIO support on Windows"
Hello,

I'm receiving the "LASP: Failed to open the default audio input device." error when I attempt to use my Focusrite Scarlett 18i20 as the default recording device on Windows 10, 64-bit. I've also installed the latest ASIO4All (not sure if that helps or not).

I was however able to use my headphone's mic as the default recording device, and receive info using `AudioInput.CalculateRMSDecibel()

[2017-08-09 20:23] AnyMotion commented on #2
Feedback mode sounds exactly like the function I'm looking for. Reading individual channel/group levels and give rms / peak values from C++ function. If that's a possibility, than I'm a happy camper. :)

If only Unity would also allow more script access to the mixer, like creating channels, groups and exposed variables on the fly (and not naming them myexposedreference every time :( ) and give us

[2017-08-10 05:09] keijiro commented on #3
At the moment LASP only supports WASAPI (which is the standard audio API from Windows Vista) because audio latency with it is enough low. That's comparable to ASIO (nearly equal or less than 10 ms).

It seems that the Focusrite audio driver only supports ASIO, so that it doesn't work well with applications that requires other audio APIs.

I think it's better to add ASIO support to LASP but it's a

[2017-08-10 15:33] chuckbergeron commented on #3
Ah, that makes perfect sense. I didn't realize there was a difference between ASIO and WASAPI. Thanks for the clarification!

[2017-08-15 02:17] keijiro opened #5 "Crash when no audio interface is available"
Unity crashes in a hard way when no audio interface is available. It should handle the exception in a proper way and continue running without audio input.

This issue is originally reported in the KalkLASP project. https://github.com/keijiro/KlakLasp/issues/2

[2017-09-14 12:36] keijiro commented on #2
I implemented the loopback feature as a special build.

https://github.com/keijiro/Lasp/tree/loopback

I won't merge it to the master branch for a while because it hasn't been tested enough.

[2017-09-18 04:24] AnyMotion commented on #2
Cool Thx. Will test this soon and let you know the results. Keep up the good work, unity should promote you to chief audio!

Any idea if there will be a possibility to add exposed parameters / effects etc through c# script to the unity mixer anytime soon. It would really optimize my project vr sound engineer and make a lot more possible than the current limited way of using exposed values. (I need

[2017-10-23 18:19] friken opened #7 "Particles test rms and level negative values"
I'm looking at the two test scenes and the test w bars and lines works as expected. The particles test is not working. No particles are displayed when running it w/ music playing. note: Windows, Unity 5.6.2.

        var rms = Lasp.AudioInput.CalculateRMSDecibel(_filterType) + _amplify;
        var level = 1 + rms * 0.1f;

        _emission.rateOverTime = Mathf.Clamp01(level * 5) * _originalEmissi

[2017-10-24 01:43] keijiro commented on #7
CalculateRMSDecibel returns audio levels in dB (decibel), so the range of the value is from -inf up to 0.0 (or 3.0).

https://en.wikipedia.org/wiki/VU_meter

I guess that the audio input level is too low. How about increasing the volume a bit more?

[2017-10-24 16:48] friken commented on #7
Thanks for the response.... It was most likely volume. Looking at the other demo, I was able to sort out what I needed to use LASP in my project. I LOVE IT! However.... I kinda screwed up and missed a very important tidbit... For context, it will help if you knew what I'm using it for:

https://clips.twitch.tv/CulturedImpossibleTroutMcaT

This project is for VR and DJ/VJ visualization and uses mus

[2017-10-25 02:51] keijiro commented on #7
Building a feedback from an audio output endpoint to an audio input endpoint isn't generally supported with common audio APIs. You have to use some tricks to accomplish it.

- If you're trying to capture audio output from Unity, try LASP Loopback (a special build that supports audio loopback within Unity).
  https://github.com/keijiro/Lasp/tree/loopback
- If you're trying to capture audio output f

[2017-10-25 03:03] friken commented on #7
thanks for the reply. Yeah, I am needing audio output from other apps (anything playing through windows default audio output device). The FMOD wrapper called audiostream does this without a null driver but can't do so without latency as it is designed to pipe the raw data through unity audiosource... I can't tell how much lag is FMOD, vs the wrapper, vs unity audiosource getspectrumdata... all nee

[2017-10-25 03:13] keijiro commented on #7
My advice here is -- don't trust PortAudio. It's super convenient but far from perfect. I ended up with reading the source code to implement LASP. I guess that it doesn't support your use-case.

[2017-10-26 03:48] keijiro commented on #7
I'm closing this issue. Please feel free to reopen for further questions.

[2017-10-26 03:48] #7 closed

[2017-11-13 10:32] sableangle opened #8 "The supportion of making auido input into AudioClip?"
Hello,
I am wondering is there any method in Lasp can make audio input from microphone into AudioClip just works like Unity3D build-in Microphone.Start() API .

I have tried find some public api in Lasp and doesn't found the method return AudioClip.

Or is there any way I can get low latency audio input into Unity3D's AudioClip, AudioSource etc and playback by Audiolistener.

Thank you very much!

[2017-11-16 00:35] jmaruska opened #9 "Multiple LASP Loopback streams?"
Is there a way to use mixer groups to have multiple LASP streams?

It seems that if you have two mixer groups, each with a LASP Loopback effect applied, there is no way to differentiate the streams and they just get summed together.

[2017-11-16 02:07] keijiro commented on #9
At the moment, LASP only supports single devide/channel input. It needs a total redesign to support multiple devices/channels, but yeah, I can understand that it should have it.

[2017-11-16 04:44] jmaruska commented on #9
Wow - thanks for the quick response!

I'm working on a robotics project and wanted to use different audio streams to synchronize/augment with motor and lighting movements as well as gameObject transforms. 4-6 simultaneous streams would be ideal.

Fantastic work, by the way. I check your Tumblr daily and am continually blown away by what you do.

[2017-11-19 01:59] jmaruska commented on #9
The Unity audio plugin sdk demo files include a routing effect that seems to do what I was looking for. Not sure what the latency is yet - but will keep playing with it.

[https://bitbucket.org/Unity-Technologies/nativeaudioplugins](https://bitbucket.org/Unity-Technologies/nativeaudioplugins)

[2017-11-24 14:32] AnyMotion commented on #2
Hi Kijiro,

It took me a while, but was able to test the Last loopback in Unity 2017.2 today.
It seems to work fine (lower cpu usage than reading audiofilter output), but I ran into some limitations.

As the implementation is done using audioinput, it is general for the entire project.
I wanted to receive RMS / Peakvalues of each separate channel where the Lasp loopback plugin is inserted and enab

[2017-11-24 15:16] keijiro commented on #2
No. LASP doesn't support multiple channels at the moment. I think it should be supported though.

[2018-01-07 23:31] corbinyo commented on #9
@jmaruska How did this work out?
And if it did work out, could you possibly give an update on how you implemented?

Looking to take two audio signals through a mixer and assign to two LASP groups

[2018-06-07 08:51] johnnyjr commented on #5
I know this is quite old, but will this be solved? We are using it in a project where we get hard crashes if the user doesn't have an input interface.

[2018-07-23 11:08] bear8203 commented on #8
Hello,

I need exactly the function for make the input aound to mixing & playing with some unity internal audio effect.

Is it possible this issue for enhancement?

Thank you very much for the great work!

[2018-08-10 05:10] wgcrown opened #11 "[solved]Doesn't work in Unity2018.2.2f1"
Doesn't work in Unity2018.2.2f1

[2018-08-10 05:29] keijiro commented on #11
Thanks for reporting. Could you provide information about the issue?

- Platform
- Error message/log

[2018-08-10 07:11] wgcrown commented on #11
Platform:
Windows10 x64 Unity2018.2.2f with mono Backend
Error message/log:
There is no error message, but before I build it particles appear randomly and with no audio.
That happens when I use Resonance in the project.

[2018-08-10 07:45] wgcrown commented on #11
I tried it, this doesn't work.
But I find more detail, Lasp could work with Google Resonance in the editor mode perfectly.
after build out, only Resonance could work.
Do you need a sample project? I can offer one.

[2018-08-10 07:52] wgcrown commented on #11
I tested the same project in 2017.4.2, It works in both circumstances.

[2018-08-10 07:54] wgcrown commented on #11
![tim 20180810155324](https://user-images.githubusercontent.com/31947897/43945702-8dc1f722-9cb5-11e8-80f8-529622d1500a.png)
![tim 20180810155242](https://user-images.githubusercontent.com/31947897/43945704-8e0345b0-9cb5-11e8-992e-42b1fcf1ec76.png)
![tim 20180810155255](https://user-images.githubusercontent.com/31947897/43945705-8e45cfe8-9cb5-11e8-94aa-d56b654f0fbb.png)
Here is my setting.

[2018-08-10 08:06] wgcrown commented on #11
I tried building it in development mode and got some error message:
![tim 20180810160511](https://user-images.githubusercontent.com/31947897/43946263-53242480-9cb7-11e8-9fe4-29f022ea2110.png)

[2018-08-10 08:07] keijiro commented on #11
Are you using the loopback version of LASP? I thought you're using the standard external audio version.

The loopback version is pretty experimental, and I have no idea what's happening inside it.

[2018-08-10 08:35] wgcrown commented on #11
Yes, you right.
Sorry, I sent the wrong place.

I switch to the old LASP version, but got the same problem :(
![tim 20180810163445](https://user-images.githubusercontent.com/31947897/43947695-5341a9c0-9cbb-11e8-80eb-fe2c0c4a8d90.png)

[2018-08-10 08:59] keijiro commented on #11
Okay. Thanks for the following up. From your inspection, I guess that the root cause of the problem is not in the audio system but in the plugin/build process of Unity.

Unfortunately, I don't have enough time for tackling this problem (it's a pretty new symptom to me, so I'm afraid I have to spend much time to solve it).

Could you report this to Google Resonance too? I doubt they can respond imm

[2018-08-10 09:05] wgcrown commented on #11
DllNotFoundException: Lasp
  at (wrapper managed-to-native) Lasp.PluginEntry.ReplaceLogger(intptr)
  at Lasp.PluginEntry.SetupLogger () [0x00027] in C:\Users\Pola studio\Desktop\Lasp-loopback\Assets\Lasp\Internal\PluginEntry.cs:47
  at Lasp.LaspStream..ctor () [0x00007] in C:\Users\Pola studio\Desktop\Lasp-loopback\Assets\Lasp\Internal\LaspStream.cs:19
  at Lasp.AudioInput.Initialize () [0x00001]

[2018-08-10 10:13] wgcrown commented on #11
Hello,
I have fixed it.
It's very simple:)
After building the project, find AudioPluginLaspLoopback.dll or Lasp.dll in the project_name\project_name_Data\Plugins\ and put it into project_name\project_name_Data\Plugins\x86
![image](https://user-images.githubusercontent.com/31947897/43952619-0d80c1a6-9cc9-11e8-938c-b5a685c6b75a.png)
![image](https://user-images.githubusercontent.com/31947897/4395263

[2018-08-10 14:01] #11 closed

[2018-09-08 17:10] Soaryn opened #12 "[Question] GetSpectrumData"
Is it possible to utilize the GetSpectrumData or an equivalent function with LASP. I have been trying to make a visualizer, and have managed to make one utilizing an AudioSource and the GetSpectrumData method, but have yet to actually figure out how to approach it with LASP. I am also trying to avoid GameObjects as I am using the new ECS.

For the record, I have been using _audioSource.GetSpectrum

[2018-09-09 01:05] keijiro commented on #12
I prefer using a filter bank for audio analyzation instead of FFT. Adding FFT as an optional method would be nice, I don't have enough time for it though.

[2019-03-07 21:35] soraryu commented on #12
Maybe this helps?
http://answers.unity.com/answers/1317336/view.html

[2019-04-09 08:41] keijiro commented on #5
Fixed in v1.0.0

[2019-04-09 08:41] #5 closed

[2019-04-10 09:04] keijiro commented on #8
This issue is merged to  #2

[2019-04-10 09:04] #8 closed

[2019-04-10 09:05] keijiro commented on #9
This issue is merged to #2

[2019-04-10 09:05] #9 closed

[2019-04-10 09:15] keijiro commented on #3
After consideration, I concluded that ASIO support is out of the scope of this plugin. I prefer keeping it simple and only dependent on PortAudio.

Now I'm closing this issue. Please feel free to reopen for further questions.

[2019-04-10 09:15] #3 closed

[2019-04-10 11:17] stefang commented on #2
Wondering if this is in the current new build? Guessing not by the fact it's still an open ticket?

Excited to try this out if it is... Would it be safe to assume that the combo of the above mentioned loopback mode, an audioSource and the Timeline would solve the issue of offline rendering visuals using the Unity Recorder and keeping the rendered files in sync with an source audio file? The not-re

[2019-04-10 14:00] keijiro commented on #2
@stefang No, it isn't in the current build. My current conclusion is that I can't afford enough time to support it in a proper way. Please understand that my capacity it quite limited.

[2019-04-10 14:03] stefang commented on #2
Of course, I was just checking really! Grateful you make any of this available :-)

[2019-04-27 09:01] eliemichel opened #14 "[Question] How is normalized level event implemented?"
Hi Keijiro, sorry to open an issue for this, Lasp works great, but I tried to look at the code to see how the normalized level event is implemented and have some troubles understanding it. Could you point me to some relevant entry point or keyword? I would like to reproduce this behavior of letting the user select an arbitrary property of an object.
Thanks!

[2019-04-27 12:36] keijiro commented on #14
I'm not sure if I understood your question correctly, but I think the keyword that you're looking for is "UnityEvent". Google it. You can find some articles and YouTube videos about it..

[2019-04-27 20:54] eliemichel commented on #14
Oh perfect that's what I was looking for! I was not aware that this was a feature of Unity.

[2019-04-27 20:54] #14 closed

[2019-05-27 08:23] sgamerw opened #15 "Mobile platform support?"
Great job, when to support mobile platform?

[2019-05-27 08:35] keijiro commented on #15
There is no plan for supporting mobiles because PortAudio (a library that Lasp depends on) doesn't support mobiles well.

[2019-06-03 01:41] sgamerw commented on #15
OK, thanks.

[2019-06-03 01:41] #15 closed, assigned to keijiro

[2019-06-28 14:53] fdiba opened #16 "Lasp not working with with unity 2019.1.8f1"
Hello I get this message when I open any scene:

"Rebuilding Library because the asset database could not be found!"

And then when I try to execute them nothing happen. Any idea ?

[2019-06-28 15:18] keijiro commented on #16
This is not an error. You can simply ignore it.

Please check if your default audio input device is properly set up.

[2019-06-28 16:35] fdiba commented on #16
Indeed it was a microphone problem. Thank you again!

[2019-06-29 04:55] #16 closed, assigned to keijiro

[2019-07-04 16:15] rdurnin commented on #16
Does Lasp require a microphone for audio input?

[2019-07-04 16:18] keijiro commented on #16
@rdurnin You can use any type of audio input device.

[2019-07-04 19:26] rdurnin commented on #16
Should Lasp automatically find a connected device and attach it? I have been unable to see line-in connected inputs, nor was I able to use the Microphone class to detect the stream.

[2019-07-20 08:25] 01GOD opened #17 "Add onset beat detection."
Nice start! アゲポヨ! Add onset beat detection though. Basically a bass drum is usually a very fast transition from  a high frequency to a low frequency. Thus, use that to detect the bass drum.

Thanks in advance for adding that. Will make it easier to track the main rhythm. That will make Para Para easier for any Para Para Gyaru Girls I put in My apps.

PS: Maybe moving back to Japan soon. By the way

[2019-07-20 09:55] keijiro commented on #17
This might disappoint you, but there is no plan for adding beat detection to the plugin. Actually, I'm avoiding spending more time on this topic (beat onset detection) because I failed several times to implement it and wasted too much time. My conclusion is that there is no such thing as a perfect beat detection algorithm.

[2019-07-20 09:55] #17 closed, assigned to keijiro

[2019-07-20 12:58] 01GOD commented on #17
Oh? Then how does a CDJ do it so nicely? Haha. I know it may be somewhat challenging. Can call it “onset beat detection for standard electronic bass drums used in most electronic dance music”. Doing it for EVERY acoustic genre does seem as though it could be somewhat challenging though.

[2019-08-13 19:48] delgelato commented on #12
SpectrumData would be nice, even just the basic of it. From there we can extract it further ourselves like for pitch tracking. Very keen on Lasp mainly for the low latency, something Unity's can't do..

[2019-09-26 09:11] jieliou opened #18 "[Question] Audio UI missing"
<blockquote class="imgur-embed-pub" lang="en" data-id="a/SNRfyRC"><a href="//imgur.com/a/SNRfyRC">Missing</a></blockquote>
Hi Keijiro. I have a UI missing issue like the image link above, and of course there has no audio incoming. I installed both Unity 2019.1 and 2019.2 and all the versions of Lasp, all the same results.
I'm not sure if I installed package incorrectly or it relate to my computer

[2019-09-27 02:37] keijiro commented on #18
Is it missing while play mode? (The level meter doesn't work while edit mode)

[2019-09-27 04:23] jieliou commented on #18
Oh, it's working in play mode. Thanks for your time for this silly question!

[2019-09-27 04:23] #18 closed, assigned to keijiro

[2019-09-30 09:23] jieliou opened #19 "parameterValue question"
https://imgur.com/a/PTjv4sF
Hi Keijiro, I'm sorry for opening up another question. I took Vfx Controller from your LaspVfx project, but it seems missing parameterValue like the image attached.
Is it related to the Unity version? Or I just have to roll back to Unity 2019.1 in my own project.

[2019-09-30 13:38] keijiro commented on #19
This is a known issue of Unity: https://issuetracker.unity3d.com/issues/events-generated-by-the-player-input-component-do-not-have-callbackcontext-set-as-their-parameter-type

(The title only mentions non-public fields, but actually it affects public fields too)

P.S. This issue should be sent to the LaspVfx repository. Please re-check if you're referring a correct repository when reporting an iss

[2019-09-30 13:39] keijiro commented on #19
I'm closing this issue now. Please feel free to reopen for further questions.

[2019-09-30 13:39] #19 closed, assigned to keijiro

[2019-10-25 17:32] mr-brooks-dev opened #20 "How to ensure that LASP is hearing the default device?"
Hello. I've been thoroughly testing LASP on different computers and different audio setups and I keep running into the issue of LASP not hearing anything from the default audio device.
What can I do to track down this problem?
I need a surefire way to make sure that LASP will hear the audio coming from the default device and if it isnt how to reliably fix that issue..
I would love it if LASP would

[2019-10-30 20:34] vjanomolee commented on #20
In all of these scenarios where there is nothing coming through the LASP Audio input script I am able to hear the audio and confirmed it is listed as the default audio device.  Do I need to restart windows if the default audio device was changed and then changed back?  I'm really struggling trying to find out why LASP cant hear the signal..  :-(

[2019-10-31 01:54] #20 closed, assigned to keijiro

[2019-10-31 11:30] mikavaliviita opened #21 "EntryPointNotFoundException: LaspReplaceLogger with Unity 2019.3.0b7"
Hi!

When opening my project using LSAP with Unity 2019.3.0b7, I get this error:

**EntryPointNotFoundException: LaspReplaceLogger**

When trying to do this:

`var peak = Lasp.MasterInput.GetPeakLevelDecibel(_filterType);`

Also, with 2019.3.0b7, the Windows plugin DLL had to be renamed, because the name conflicted with the asmdef file.

[2019-10-31 13:48] mikavaliviita commented on #21
This works fine with 2019.2.10f1 if the Windows plugin DLL is renamed back to the original name.

It seems the renaming is the problem here.

Here is the full log entry of the error:

[code]

[2019-10-31 16:34] keijiro commented on #21
Name conflict should be fixed.

I think it can be worked around by renaming asmdef instead of renaming the plugin dll.

[2019-10-31 17:07] mikavaliviita commented on #21
Yes, already tried it with 2019.2.10f1 and it works. Will verify this with 2019.3.0b7 also ASAP.

[2019-11-01 08:44] mikavaliviita commented on #21
With Unity 2019.3.0b7, renaming the asmdef file still gives the following error, but it seems to be working:

[code]

[2020-03-24 11:55] keijiro commented on #21
This issue was fixed in v2.

[2020-03-24 11:55] #21 closed, assigned to keijiro

[2020-04-17 23:23] mlee51 opened #24 "[Question] Anyway to monitor audioinput?"
Anyway to monitor audioinput or write it into an audioclip like unity's traditional microphone input?

[2020-04-17 23:48] mlee51 commented on #24
nvm checked closed issues

[2020-04-17 23:48] #24 closed, assigned to nobody

[2020-04-24 15:23] keijiro commented on #12
Now LASP v2 supports FFT.

[2020-04-24 15:23] #12 closed

[2020-05-12 02:39] medcelerate opened #25 "Unable to select inputs when using package"
It appears that the available Audio Level Tracker script included in the unity package does not have the serializable fields for selecting the input device like the laspvfx demo has. Was this intended or is it something that needs to be added manually?

[2020-05-12 03:31] keijiro commented on #25
Did you use the "v2" branch? The "master" branch contains the old version of LASP that doesn't have the device selector.

[2020-05-14 13:16] 26PM opened #26 "build error CS0246"
Excuse my ignorance if this is a simple problem to fix, I am a noob when it comes to scripting. When I try to build the project I get 24 errors with "error CS0246 regarding SoundIO. Example Packages\jp.keijiro.lasp\Runtime\Internal\InputDeviceHandle.cs(310,33): error CS0246: The type or namespace name 'SoundIO' could not be found (are you missing a using directive or an assembly reference?)

Is th

[2020-05-14 14:12] keijiro commented on #26
How did you install the package? Could you re-check the "How to install" section in the README.md?

[2020-05-14 15:14] 26PM commented on #26
YES! A fresh download, followed by modifying the scopedRegistries ( as specified in the How To Install directions), followed by opening the project as a new project fixed my problem. Thank you so much for the quick response. It is greatly appreciated.

This may be helpful for other beginners. Originally I downloaded Lasp and ended up noticing while attempting to build that I needed to update Visua

[2020-05-14 15:15] #26 closed, assigned to keijiro

[2020-05-16 02:12] medcelerate commented on #25
Yes I used the releases under the V2 branch.

[2020-05-16 08:15] keijiro commented on #25
Sorry, I overlooked some sentences in the first post. You shouldn't use the `.unitypackage` file. This package has migrated to Unity Package Manager from the legacy `.unitypackage` way. Please read the "How to install" section in the README.md.

[2020-05-28 04:52] smangiat opened #27 "Possible to build for Windows?"
Hi, Is it possible to build LASP for windows?  When I try to build I get errors related to SoundIO. I also included SoundIO in my packages json.

``Library\PackageCache\jp.keijiro.lasp@2.1.2\Runtime\Internal\InputDeviceHandle.cs(28,16): error CS0246: The type or namespace name 'SoundIO' could not be found (are you missing a using directive or an assembly reference?)``

Thank you very much! This pa

[2020-05-28 05:15] keijiro commented on #27
LASP does support Windows build. Could you clarify the following points?

- Did it work on Unity Editor?
- Did you build the project for x64 (64-bit) architecture? LASP doesn't support x86 (32-bit).

[2020-05-28 06:45] smangiat commented on #27
Ah yes I was trying to build for x86. I was able to get it working after switching to x64, and then upgrading the burst compiler to the latest version 1.30. Thanks very much, I appreciate the quick help!

[2020-05-28 06:45] #27 closed, assigned to keijiro

[2020-06-03 20:29] MateiGiurgiu opened #28 "The type or namespace name 'Span<>' could not be found"
I get this error when I import the package. I mention that I am using the package manager for this as described in the readme. The weird thing is that a couple a days ago I managed to import this into an empty project and it worked. I tried deleting the cache, switching the scripting backend. Importing System.Memory from NuGet but nothing seems to be able to fix it.

Do you have any idea what migh

[2020-06-03 20:33] MateiGiurgiu commented on #28
I just went back to the empty project where LASP imported successfully and I realized that as soon as I right-click > Open C# project, the error appears.

Additionally, I added the System.Memory.dll in the Plugins folder and now the error that I have is:
![image](https://user-images.githubusercontent.com/6001895/83688016-9b02cd00-a5e4-11ea-97e9-af63f82cc983.png)

I also enabled "Allow 'unsafe' cod

[2020-06-04 18:57] MateiGiurgiu commented on #28
I did more testing today. In the empty project where LASP initially imported successfully, I managed to get rid of the errors by reimporting the project. However, I realized that the error is caused by a third party plugin called Quantum Console. As soon as I imported it the exact error appeared again and I couldn't do anything to make it disappear.

[2020-06-05 12:41] Ryne9 commented on #28
Seeing the same issue on 2019.3.10f1 with the ReadOnlySpan in ChannelLayout and the Spans in Device.

[2020-06-05 13:04] keijiro commented on #28
@Ryne9 Are you using Quantum Console too?

[2020-06-05 13:05] #25 closed, assigned to keijiro

[2020-06-07 05:13] Ryne9 commented on #28
Nope, two biggest libraries I'm using are UniVRM and TwitchLib, I can test adding them to a new project tomorrow and seeing what happens.

[2020-06-07 11:00] keijiro commented on #28
@Ryne9 Thanks for the additional info. I'd appreciate if you could check which one causes the error.

[2020-06-07 20:18] Ryne9 commented on #28
Ah, I think it is directly related to setting the Project Settings > Player > Other Settings > Configuration > Api Compatibility Level from .NET Standard 2.0 to .NET 4.x

![apicompat](https://user-images.githubusercontent.com/9709128/83979197-8c653000-a8da-11ea-83d7-79cbe7a7d657.jpg)

[2020-06-07 20:31] MateiGiurgiu commented on #28
Thank you. However, I was already on .NET 4.x and I tested it with both compatibility levels and scripting backends.

I noticed that Quantum Console comes with a link.xml file which from my understanding is used for configuring how the code is stripped. Could this be the cause of the problem?
![image](https://user-images.githubusercontent.com/6001895/83979439-268e9d80-a906-11ea-8e98-92d8c6eac4e3.p

[2020-06-09 12:37] MateiGiurgiu commented on #28
I did more testing. I managed to successfully import both LASP and Quantum Console in the same project as long as initially the project is set to .NET Standard 2.0. As soon as I move it back to .NET 4.x I get errors:
![image](https://user-images.githubusercontent.com/6001895/84141332-ef75d480-aa4a-11ea-95a9-b3c818949f95.png)

![image](https://user-images.githubusercontent.com/6001895/84141398-0c12

[2020-06-09 13:12] keijiro commented on #28
@MateiGiurgiu Thank you very much for further testing. It seems that there is something wrong with the API compatibility setting. Actually, I only tested LASP with the .NET Standard 2.0. I'll do extensive tests with .NET 4.x for the next version of LASP.

Just out of curiosity, do you need .NET 4.x for your project? I have never used .NET 4.x on my projects, so I overlooked the point.

[2020-06-09 13:35] Ryne9 commented on #28
Personally I've never needed to change API compatibility until I wanted a Twitch library so I used TwitchLib.Unity which required it. After this issue I did think of rewriting/investigating since Lasp is way more important for my project at the moment

[2020-06-09 13:47] keijiro commented on #28
Twitch requires .NET 4.x. Okay. That's a valuable input. Thanks.

[2020-06-09 13:53] MateiGiurgiu commented on #28
My thoughts are on the same lines as @Ryne9. I don't need .NET 4.x in the project at the moment. When I got LASP, the only reason I wanted to see if it works properly on both compatibility levels was that the project is in early development and I might need some plugins in the future which may require 4.x and I didn't want to have problems at that point.

Long story short I am developing an audio

[2020-06-10 01:50] keijiro commented on #28
Yes, it only supports x64 at the moment.

[2020-06-11 23:57] TipVFL opened #29 "Realtime Microphone Playback"
I am trying to achieve a low latency playback of microphone input in Unity and multiple places pointed me towards LASP but I cannot figure out any way to playback the audio it is monitoring.

I looked through closed issues and found two related to this, #24 and #8, however I did not see a solution posted. Issue 8 was merged into issue #2 which was closed, but issue 2 was not about microphone playb

[2020-06-12 00:46] keijiro commented on #29
LASP only provides the low latency audio input functionality. It doesn't support output.

You can use the combination of LASP input and Unity's built-in output, but it will be affected by the latency of the built-in output.

[2020-06-12 00:46] #29 closed, assigned to keijiro

[2020-06-19 02:12] mechpil0t opened #30 "android/ios version possible?"
would it be possible to get an android/ios version of this?

[2020-06-19 03:09] keijiro commented on #30
LASP uses [libsoundio](https://github.com/andrewrk/libsoundio) as a backend. At the moment, libsoundio only supports the desktop platforms (Windows, macOS, Linux), and that's why LASP only supports them. If libsoundio gets mobile support, it will be possible to add mobile support to LASP too.

[2020-06-19 03:09] #30 closed, assigned to keijiro

[2020-07-03 17:57] MateiGiurgiu commented on #28
@keijiro I just found a limitation of .NET Standard 2.0. I was trying to make a windows native file browser dialog and I require System.Windows.Forms.dll. I made a file csc.rsp and added: "-r:System.Windows.Forms.dll". However, this works only with .NET 4.x.

[2020-07-30 20:27] th-ink opened #31 "Installing on Unity 2019.4.5"
Excuse my noobness, but how can I install the package in Unity? I've tried cloning the repo, editing the `manifest.json`  found in `Packages/`  as per instructions in the README. But when I run the scene in Unity, I get `error CS0246: The type or namespace name 'Event' could not be found (are you missing a using directive or an assembly reference?)` errors. I've also tried to create a new project

[2020-07-31 01:04] keijiro commented on #31
Fixed: https://github.com/keijiro/Lasp/commit/575306647361e4e6ee9582773ac270cbed5f1a06

[2020-07-31 01:04] keijiro commented on #31
I'm closing this issue now. Please feel free to reopen it if it still reproduces.

[2020-07-31 01:04] #31 closed, assigned to keijiro

[2020-08-03 15:22] jdk-21 opened #32 "PropertyBinders"
Hey, I'm pretty knew to Unity and C# and after some experiments with LASP I encountered a problem.
I have three GameObjects: an AudioHandler and two spheres. The AudioHandler has a script that creates an AudioLevelTracker like in the DeviceSelector example.
I also have a script for the spheres. From there I want to add PropertyBinders to this AudioLevelTracker and I have no idea how to accomplish

[2020-08-03 23:16] DanielEliasib opened #33 "Is there a way to use system audio?"
I'm trying to create an audio visualizer in Unity and a I stumble with this.

The demos work really well but I was wondering if there is a way to use the system audio? I saw this [issue](https://github.com/keijiro/Lasp/issues/2) and I'm using the Stereo Mix option to get by, but as it says there, not everyone has that option activated. So I was wondering if there is a way to use the system audio.

[2020-08-04 01:33] keijiro commented on #32
Try adding `PropertyBinder` using `AddComponent`, then set `Target`, `PropertyName`, `Value0` and `Value1`. These fields are public, so you can access them from your script.

https://github.com/keijiro/Lasp/blob/v2/Packages/jp.keijiro.lasp/Runtime/PropertyBinder.cs

[2020-08-04 01:33] keijiro commented on #32
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-08-04 01:33] #32 closed, assigned to keijiro

[2020-08-04 01:38] keijiro commented on #33
First of all, I assume you're asking how to capture system audio **OUTPUT** (it's quite easy to capture the system audio input).

There is no way to capture the system audio output.

Yes.

That's an experimental branch of Lasp v1. I abandoned the branch.

[2020-08-04 01:38] #33 closed, assigned to nobody

[2020-11-27 13:05] antiero opened #34 "iOS / Android Support"
Loving LASP! Is there any plan to support this for iOS/Android platforms?

[2020-11-28 02:26] keijiro commented on #34
Please check #15

[2020-11-28 02:26] #34 closed, assigned to keijiro

[2020-12-01 13:27] Saggex commented on #2
Hi Keijiro,

Is there a plan to upgrade the Loopback Branch to the V2 of LASP?

Thank you and BR :)

[2020-12-03 21:20] melMass commented on #28
Unsafe should work as long as your project settings (or asmdef) "allow for unsafe code" which is unchecked in your case

[2020-12-20 00:46] MrMahgu opened #35 "VFX Property Bindings are not available in 2020.2.0f1"
LASP does not show up in the context menu for attaching property bindings for VFX Property Binder (script) component.

I am not skilled enough to understand how to fix, sorry.

Unity Version: 2020.2.0f1

[2020-12-20 02:18] MrMahgu commented on #35
Oops, too quick to post -- solved.

[2020-12-20 02:18] #35 closed, assigned to nobody

[2021-01-07 13:37] Gabana commented on #2
Hi Keijiro,

Any chance to use Unity's Audio Source as a source for LASP in the latest updates you did recently (mid 2020)?? I see you made some attempts but the Loopback branch doesn't work anymore due to a problem in Lasp.bundle (in 2019.4), i wonder if you have a different solution.

I saw one of commentend a possible solution, where i should "create a fake input device and somehow route the so

[2021-01-07 16:05] keijiro commented on #2
@Gabana

No. There is no solution.

Virtual audio device like this: https://vac.muzychenko.net/en/

[2021-01-20 15:36] hybridherbst opened #37 "Support on more platforms"
I think due to soundio only supporting Mac & Windows64, LASP is currently only usable on those platforms.
I was wondering if you've got any plans to extend support, maybe not through soundio but through something similar like on your loopback branch (e.g. "regular" audio input?)

(I started a branch with a "SoundIO Shim", but haven't done more than just adding the shim classes so far: https://gith

[2021-01-21 06:09] keijiro commented on #37
It's not difficult to add iOS support (thanks to Core Audio), but I think just adding iOS support doesn't make much sense. What most people need is Android support.

As you may know, handling low-latency audio on Android is quite difficult. I can't afford time and money (to buy lots of test devices) for it.

If there is a multi-platform open source sound library better than soundio, I'll consider

[2021-01-21 06:09] #37 closed, assigned to keijiro

[2021-01-21 09:26] hybridherbst commented on #37
Thank you. In the meantime, would be great if you merge https://github.com/keijiro/Lasp/pull/36 which just sets the lasp asmdef correctly so there are no build errors on unsupported platforms. Thanks!

[2021-01-31 15:30] marcospgp commented on #28
Got this error and fixed it by setting the API compatibility level to .NET Standard 2.0 as mentioned above:

![image](https://user-images.githubusercontent.com/3464445/106388987-ddc9ae80-63d8-11eb-9ae1-61242a2a171e.png)

Though I am not quite clear on the difference between the two options. From [what](https://docs.microsoft.com/en-us/visualstudio/gamedev/unity/unity-scripting-upgrade) I've [read]

[2021-02-06 18:24] Nolram12345 commented on #28
+1 this issue, Net 4.x is now often required by various other tools.

[2021-02-06 20:48] Nolram12345 commented on #28
![grafik](https://user-images.githubusercontent.com/37701550/107129341-082dd700-68c5-11eb-81e3-dd52002c7bdd.png)
Even after switching to 2.0 I still get this error.

[2021-02-07 04:18] keijiro commented on #28
@marcospgp

No. Those documents are written in the .NET 3.5 era so has been outdated. Now, NET Standard 2.0 is the recommended option in general cases.

Actually, that's a new feature in .NET Standard 2.1. We can use it on .NET Standard 2.0 by adding the nuget package.

[2021-02-07 04:22] keijiro commented on #28
@Nolram12345

Could you give me an example? I'm curious about the reasons why .NET 4.x is still used in some cases.

This error message is not related to LASP. Please try removing other unrelated packages.

[2021-02-07 04:34] keijiro commented on #28
@marcospgp Sorry. The first paragraph in the last reply might be not correct. I should admit that I'm not a .NET specialist. Please ask a specialist for further details.

[2021-02-07 04:44] keijiro commented on #28
Note that there is the same issue in KlakNDI.

https://github.com/keijiro/KlakNDI/issues/72

The conclusion here is the same to KlakNDI. There is no plan for fixing it, but this issue should be kept opened for future reference.

[2021-02-07 22:39] Nolram12345 commented on #28
@keijiro A json data storing tool I am using requires .NET framework which is only supported in 4.x . And I am unsure what exactly you mean since in the error it states that a namespace is missing from LASP - and the script that is asking for it is from Klak Audio. (Which is the reason I am trying to install LASP in the first place).

[2021-02-08 00:33] keijiro commented on #28
@Nolram12345 If you're using KlakLasp, it's not compatible with the current version of LASP.

[2021-02-08 07:25] Nolram12345 commented on #28
@keijiro Then what version do I need ? Is it even still supported/does it still work ?

[2021-02-08 07:41] keijiro commented on #28
@Nolram12345

Lasp v1 is still in the master branch.

https://github.com/keijiro/Lasp/tree/master

I haven't been touched it for some years, so I'm not sure if it still works.

Please use the issue tracker on the KlakLasp repository for further questions. It's not relevant to the original question in this thread.

[2021-02-08 07:42] Nolram12345 commented on #28
@keijiro Sure. Thank you.

[2021-02-13 21:40] JeffDobrow opened #40 "Installation issues"
Hi!  I am having a ridiculous time getting LASP installed on 2020.1.6f1
 If I install through package manager it errors on finding a dependency for the libsoundio (I did edit the manifest.json)
 If I open the test project it works fine but then I notice that some Colliders,...the Audio Source object and such are 'force excluded and will be deleted at play'.

Any insight by chance?  I am certainly

[2021-02-14 06:02] keijiro commented on #40
Please try enabling the built-in packages (in this case, Audio and Physics) in the Package Manager.

[2021-02-14 06:03] keijiro commented on #40
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-02-14 16:54] JeffDobrow commented on #40
Thank you!   I am still having an issue installing LASP into Unity 2020.1.
I wish I understood more of all this...apologies.

*I edited the manifest.json package as described.
1 - If I Open your test project then everything works and I notice that libsoundio is fully installed in packages

2 - If I attempt to install the package.json from the Package Manager it will not install and gives me an err

[2021-02-14 17:44] JeffDobrow opened #41 "Thank you! I am still having an issue installing LASP into Unity 2020.1."
Thank you!   I am still having an issue installing LASP into Unity 2020.1. I was unsure/unable how to 'reopen' previous issue.

I wish I understood more of all this...apologies.

*I edited the manifest.json package as described.
1 - If I Open your test project then everything works and I notice that libsoundio is fully installed in packages

2 - If I attempt to install the package.json from the Pa

[2021-02-15 09:35] keijiro commented on #41
I'm closing this issue as duplicated.

[2021-02-15 09:35] #41 closed, assigned to nobody

[2021-02-15 09:37] keijiro commented on #40
This sounds strange because package.json is not related to package installation. In other words, you shouldn't edit package.json. You can install any package just by editing manifest.json or using the Package Manager UI.

[2021-02-15 10:02] JeffDobrow commented on #40
I did not edit packag.json to be specific!
I edited the “manifest” per instructions.

If I use the package manager UI and use “add from disk” I cannot get the package to install:
When using this method I point the package manager UI to the package.json and it errors.

If I use the package manager UI and point to manifest.json it doesn’t work either.

Thank you.  I will continue exploring.

[2021-02-15 11:17] keijiro commented on #40
LASP doesn't support the Package Manger UI. You have to edit manifest.json.

I'd recommend starting over from scratch. Edit manifest.json to install LASP. You don't have to do anything with libsoundio. You don't have to use the Package Manager UI. You can install Lasp just only by editing manifest.json as noted on README.md.

I close this issue again. Please reopen it if you still meet the same is

[2021-02-15 11:46] JeffDobrow commented on #40
Thank you!
I believe the problem is “after I edit the manifest.Json” then what do I do
in unity to install it?

I download the zip file from you.
I unzip it into a temp directory.
I edit the manifest.json file.

I open a new project unity 2020.1 and then how do install the package if
not through the “Package Manager UI using Add from Disk”?

If I just drag the “folder” into my assets or projects i

[2021-02-15 12:02] keijiro commented on #40
No. You don't have to do anything other than just editing manifest.json.

Edit it. Return to Unity Editor. It automatically downloads and installs everything. That's that.

I close this issue again. Please reopen it if you still meet the same issue.

[2021-02-15 12:02] #40 closed, assigned to keijiro

[2021-02-15 14:39] JeffDobrow commented on #40
I understand all that. :)

Where do I put the package?
I downloaded a ZIP file from Github.  I extracted the ZIP file to a folder
on my desktop.  I edited the manifest.json.  I open unity and nothing
happens. :)
Unity does not know where the files are.  They are just in a folder on my
desktop....how do I get this into my Unity project.

I think I am conveying this wrong and I am so sorry to use yo

[2021-02-15 18:47] JeffDobrow commented on #40
I do believe I have figured it out.

I need to edit the manifest.json file of the destination Unity project!
If I open a NEW Unity project, I need to edit the manifest of this projects
manifest.json.

I have only been editing the manifest.json in the files you provided. Not
the manifest of the scene I am trying to import into.
I have now created a NEW Unity project, edited this NEW manifest.json a

[2021-03-17 06:41] vanilla-plus commented on #28
Unfortunately I'm also in the same boat. I'm getting this Span<> error on import and I'm trying some stuff out with Arduino depth sensors (or Kinect as a backup) but it seems that both require .Net 4.x. I'm really keen to try Lasp out though...

[2021-03-20 16:04] emilianavt opened #42 "Conflicting assemblies with Unity's collections package"
`org.nuget.system.memory` has a dependency on `System.Runtime.CompilerServices.Unsafe`, which it also retrieves from nuget, but there is already an incompatible version of this assembly included with `com.unity.collections` as installed through Unity's package manager to satisfy the dependencies of some other assets in my project. Having the same assembly at twice at different versions does not se

[2021-03-24 03:14] keijiro commented on #42
Which version are you using? As far as I tried, it didn't reproduce with the latest version (0.15.0-preview.21). I think this issue was fixed in Collections 0.11.0.

[2021-03-24 10:04] emilianavt commented on #42
Thank you for your response! I'm on Unity 2019.4.16f1 and Collections 0.9.0-preview.6. I assumed that it was the latest version of the package, because Unity shows it as up to date, but I see now that newer versions are available for Unity 2020.

[2021-03-24 12:11] keijiro commented on #42
Thanks for the clarification. I'm closing this issue now as resolved (on the Collections side). Please feel free to reopen it for further problems.

[2021-03-24 12:11] #42 closed, assigned to keijiro

[2021-04-02 17:25] olgv opened #43 "Visual Scripting support"
Now that VS comes as standard with Unity 2021, I can't stop dreaming of LASP integration in VS  : D

[2021-04-03 01:32] keijiro commented on #43
I'm sure that you can use LASP with Visual Scripting without any extension/customization.

For Minis and OSCJack, I created extensions because they're hard to use without customization. I think LASP is different from them.

I'm closing this issue now. Please feel free to reopen it if you feel that it's hard to use with Visual Scripting. I'll reconsider it then.

[2021-04-03 01:32] #43 closed, assigned to keijiro

[2021-04-07 07:29] hnguyen094 commented on #28
I think the issue is with the NuGet package dependencies (e.g. `org.nuget.system.memory`). Specifically, they have a "Define Constraint" `NET_STANDARD_2_0` which isn't defined when targeting .NET 4.x (whether that's the correct behavior or not I'm not sure.)

The 'correct' solution is either to target .NET Standard 2.0, or (probably) manually include the correct .NET 4.x `System.Memory.dll` (and p

[2021-04-07 08:56] keijiro commented on #28
@hnguyen094 Thanks for the write-up. That matches with my understanding.

[2021-05-10 20:54] Felix-N commented on #29
@keijiro I'm looking for the same, low latency input and output.

Could you point me into the direction of how to use use it with the unity built in output system?

And do you know the amount of latency added there / how to control it?

[2021-06-27 20:52] agunay commented on #35
Hi, @MrMahgu can you please explain how you solved this? I'm having the same issue after upgrading to Unity 2021.1.12f1 - LASP doesn't show up on VFX Property Bindings list,. it was working perfectly on 2019 version

[2021-06-27 21:19] agunay opened #44 "VFX Property Bindings are not available in 2021.1.12f1"
Hi @keijiro - thanks for the amazing work!

Lasp is a very cool library and works really well on 2019 Unity versions, however I'm having trouble getting it to show up on the VFX Property Bindings menu on Unity version 2021.1.12f1.

I noticed there was [another issue](https://github.com/keijiro/Lasp/issues/35) mentioning the same problem, but a fix is not given. Would be grateful if you can point w

[2021-06-27 21:31] agunay commented on #44
Apologies I've realised I was missing LaspVFX package from the new project. It might be handy to include a reference to this in the README.

Closing this. Thanks again for the great work.

[2021-06-27 21:31] #44 closed, assigned to nobody

[2021-06-27 21:32] agunay commented on #35
Realised I was missing LaspVFX package 🤦

[2021-09-30 12:35] robclouth opened #45 "Modifying FftBuffer to output the magnitude and phase"
In the Postprocess Job you do this:
[code]
I assume you're calculating the magnitude with ```math.length(x.xy)``` but what is ```math.length(x.zw)```?
Why is each element of x float4? And why O is float2 if it's just magnitudes?

[2021-09-30 13:58] keijiro commented on #45
I can't remember it correctly (I wrote it 1.5 years ago), but I think it's just a SIMD optimization. I mean,  calculating `float4 = float4 + float4` is faster than calculating `float = float + float` 4 times.

Originally, X was implemented as as a float2 array, and O was just a float array. I reinterpret them as float4 and float2 to utilize SIMD.

[2021-09-30 13:58] keijiro commented on #45
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-09-30 13:58] #45 closed, assigned to keijiro

[2021-09-30 14:03] robclouth commented on #45
So it's just an optimization thing. Thanks :-)

On Thu, 30 Sep 2021, 15:58 Keijiro Takahashi, ***@***.***>
wrote:

[2021-09-30 22:35] isaacjoy opened #46 "Can't get Lasp deviceselector example working as build on Mac M1"
Hi there,

I'm sort of new to Unity so apologies if this is a silly mistake but I can't get the deviceselector example to work on my Mac M1 as a build. It works in the Unity editor if I hit play (I'm using a guitar signal to control some animations and have checked it).

I would love to get the build to work so I can use Lasp with multiple screens in my performance.

Here is a video to show..

htt

[2021-12-09 21:05] jeffhgit opened #47 "Install error: "Failed to resolve packages""
Following the install directions by pasting the text in my manifest.json, I get the following error, "Failed to resolve packages: The file is not valid JSON: Unexpected string in JSON at position 447 while parsing..."

It seems to run into an error after the 'n' in "name", but the actual text I pasted is:

"{
  "scopedRegistries": [
    {
      "name": "Unity NuGet",
      "url": "https://unitynug

[2021-12-10 12:33] keijiro commented on #47
Could you attach your edited `manifest.json` file?

[2021-12-11 23:50] jeffhgit commented on #47
[manifest.txt](https://github.com/keijiro/Lasp/files/7697909/manifest.txt)

Had to change the extension to upload.

[2021-12-12 03:31] keijiro commented on #47
There are missing trailing commas in there lines:

[code]

[2021-12-15 06:41] jeffhgit commented on #47
I got it, thank you! It's working with microphone input, but is there way to use it to analyze a playing AudioSource component? My goal is to monitor an audio stream, get typical volumes/frequencies, and be able to detect spikes in volume or certain frequencies to trigger an effect elsewhere. Is this something LASP can be used for? I'm currently using Unity's AudioSource.GetOutputData but it's not

[2021-12-15 06:53] keijiro commented on #47
No, LASP doesn't support internal audio sources.

Detecting spikes (musical onset) is a SUPER hard problem, especially with mix-downed musical tracks. LASP only analyzes loudness level of specified frequency bands. Don't expect that it magically detects "spikes".

[2021-12-15 06:54] keijiro commented on #47
I'm closing this issue now as the original question was solved. Please feel free to reopen it for further problem on the original topic.

[2021-12-15 06:54] #47 closed, assigned to keijiro

[2022-01-04 04:24] SilverXenolupus commented on #46
I'm not sure if this is the right place to put this, but I am having a similar problem. I think I know why LASP isn't working on M1 and ARM devices in general, but would appreciate some confirmation from Keijiro. LASP has a dependency, libsoundio, which according to its system requirements, only works on devices with Intel Architecture. The M1 runs on ARM architecture, therefore libsoundio won't w

[2022-01-04 04:28] keijiro commented on #46
Lasp 2.1.4 and later support Apple silicon.

https://github.com/keijiro/Lasp/releases/tag/2.1.4

[2022-01-05 05:34] SilverXenolupus commented on #46
Based on my testing, this library needs to be built and installed in order to build for Apple Silicon. https://github.com/keijiro/libsoundio
Otherwise, Lasp will not work.

It is not needed to run the finished app though. It is only needed for building.

[2022-01-23 03:43] jeffhgit opened #48 "Minimizing latency?"
I'm wondering if there's a way to minimize latency within LASP. There is still a bit of lag in my response, maybe ~200ms. Are there any alterations I can make to LASP to lower this? Maybe some LASP features or components that I can disable or reduce to cut down on the resource cost/response time? Thank you.

[2022-01-23 06:43] keijiro commented on #48
LASP chooses the buffer size based on the following calculation: `max ( 1/60, device driver latency )`

https://github.com/keijiro/Lasp/blob/v2/Packages/jp.keijiro.lasp/Runtime/Internal/InputDeviceHandle.cs#L186

So, if your device supports low latency input with the default device driver on your system, it should run with 1/60 sec latency.

[2022-01-23 06:43] keijiro commented on #48
I'm closing this issue now. Please reopen it for further problems.

[2022-01-23 06:43] #48 closed, assigned to keijiro

[2022-01-25 12:21] Darth-Carrotpie opened #49 "How to change sampling rate?"
Hello, awesome package!
I've tried using Lasp.AudioLevelTracker.audioDataSlice to read raw audio data and from it construct a precise size buffer.
My use case is a neural network, it has to have a precise length max input, therefore this package seems like a perfect candidate for fast data acquisition. All I'm doing is looping through audioDataSlice[i] and writing values to my buffer until it's fu

[2022-01-25 12:41] keijiro commented on #49
SoundIO (the audio backend library) uses the default sampling rate of the audio device, so you should change the device settings. However, I don't think modern audio devices support 16kHz sampling rate. You may have to implement sampling rate converter by yourself.

[2022-01-25 12:42] keijiro commented on #49
I'm closing this issue now. Please reopen it for further problems.

[2022-01-25 12:42] #49 closed, assigned to keijiro

[2022-01-25 15:31] Darth-Carrotpie commented on #49
Ok, thanks! I will look for a way how to down sample it.
Is the approach I described the correct one to get raw audio data? I mean, by using **audioDataSlice** ?

[2022-01-25 16:05] keijiro commented on #49
yes

[2022-01-25 17:04] EricBeetsOfficial-Opuscope opened #50 "Planned to be available on iOS?"
Hi Keijiro !

Your lib seems to be very great (I tested the `loopback` branch which is work with AudioSource and then with Microphone).
I really need this lib but under iOS, are you planning to build it for iOS ? Or maybe I can do it (if I could have a confidential access to the native sources of course ..).

Let me know ;) ,
Thanks in advance,
Regards,
Eric

[2022-01-26 01:47] keijiro commented on #50
No.

The source code is totally open. There is no restriction.

[2022-01-26 01:48] keijiro commented on #50
I"m closing this issue now. Please reopen it for further problems.

[2022-01-26 01:48] #50 closed, assigned to keijiro

[2022-01-27 02:01] leessunj opened #51 "How can I leave the Audio listener?"
Hello, thanks for the nice plugin.
I have a question!
Audio listener is not available while using this plugin.
When I enter play mode, it disappears altogether, so I can't play the current input value or other example audio file.
I've seen that OUTPUT is not possible in a previous issue. But is it also impossible to listen to a pre-given sample file rather than listen to the real-time input again?

[2022-01-27 02:44] keijiro commented on #51
No. I removed the built-in audio module from the sample project for simplicity, but you can use it in your project. Or you can re-add the built-in module from Package Manager on the sample project.

[2022-01-27 02:44] keijiro commented on #51
I'm closing this issue as "not reproducible". Please reopen it for further problems.

[2022-01-27 02:44] #51 closed, assigned to keijiro

[2022-01-28 05:04] keijiro commented on #46
I found an issue with the plugin `.meta` file that excludes itself from the Apple silicon standalone player. I fixed this issue in the latest update (v2.1.6).

[2022-01-28 05:04] keijiro commented on #46
I'm closing this issue now. Please reopen it if it still reproduces.

[2022-01-28 05:04] #46 closed, assigned to keijiro

[2022-02-03 13:22] Darth-Carrotpie commented on #49
So I've researched various ways for downsampling and come to a conclusion that it's very not feasible. Downsampling requries a complicated algo implementation with filters and whatnot, while existing solutions (like NAudio) don't wanna run in Unity.
Another huge downside, it has an additional CPU costs, as opposed if sampled correctly right away.

I've tested Unity's default Microphone.Record(a, b

[2022-02-03 15:04] keijiro commented on #49
I think you can modify the sample rate here: https://github.com/keijiro/Lasp/blob/v2/Packages/jp.keijiro.lasp/Runtime/Internal/InputDeviceHandle.cs#L196

[2022-02-10 09:18] Darth-Carrotpie commented on #49
For future reference, to anyone who might be interested in this problem, I went on not to change the sampling rate of the device. It proved simpler and a more universal approach (to adapt to various rates of many devices out there) to just resample everyting every few frames. I used NWaves.Operations for that purpose, because most other solutions did not work or did not even load.

[2022-02-22 09:01] Fenikkel commented on #32
I'm trying to use _FloatPropertyBinder_ but _No Single property found_ alert appears.

As a _Target_ I'm using a script that have a **public float**  and also a **public System.Single**. Any of these types seems good for the binder.

Sorry for my ignorance but what I'm doing wrong?

Edit: It only accepts Unity components public variables?

[2022-02-22 12:55] keijiro commented on #32
@Fenikkel You also have to provide a public property along with a public variable.

[2022-02-23 08:27] Fenikkel commented on #32
Than you Kejiro 🥇

For noobs like me, what Kejiro means is this:

[code]

[Microsoft docs](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/using-properties)

[2022-03-16 20:27] Nolram12345 commented on #2
Still no further update on this ?

[2022-03-16 21:18] Saggex commented on #2
I just implemented a solution a few minutes ago.
It does not yet support the AudioSpectrumAnalyzer Component, but It works with the AudioLevelTracker.
It's for now on my google drive, until I find the time to create a fork of the repo, or until I find the time, to create a branch here, or something.
You have to remove LASP from your packages and put the contents into your Assets folder.

https://d

[2022-03-17 22:16] visible-sounds commented on #28
Had the same issue with both 2.0 and 4x for some reason.

Not sure if it makes much difference as Unity apparently doesn't use .NET 2.1 yet however I downloaded and installed .NET core 2.1

The solution for me was to directly download the dll for Span.

1) You can get the library from the https://www.nuget.org/packages/System.Memory/ => Download Package
2) Open it with WinRAR or similar.
3) Import

[2022-04-05 22:37] judasbenhur commented on #28
adding the following lines to the manifest.json fixed this issue for me in klakNDI.

`"scopedRegistries": [
    {
      "name": "Unity NuGet",
      "url": "https://unitynuget-registry.azurewebsites.net",
      "scopes": [
        "org.nuget"
      ]
    }
  ],`

and then inside the '"dependencies": {' bracket:
`"org.nuget.system.memory": "4.5.3"`

hope this helps.

[2022-05-03 08:14] shoukailiang opened #52 "support hololens2?"
support hololens2?

[2022-05-03 11:59] keijiro commented on #52
I don't have any knowledge about HoloLens 2, so I have no idea about it.

LASP doesn't support UWP, so if HoloLens 2 requires it, you can't use LASP on it.

[2022-05-03 11:59] #52 closed, assigned to keijiro

[2022-05-19 02:22] atesija commented on #28
I ran into this on version 2020.3.14f1 even when using .NET Standard 2.0. Switched to 2019.4.0f1 instead and I'm able to use the library with no errors.

[2022-06-08 01:36] VarunSriram opened #53 "Question: How to get Property binding to work with properties in components other than transform?"
Hi,

First thing I'm loving this library and playing around with it to make audio visualizations and appreciate the work you put into it. I have a question about the use of property binders. It seems the only thing I can get working is the vector3 property binder with transforms. I tried attaching a component script I made with a public vector3 property to the sphere and when I select that compone

[2022-06-08 02:41] keijiro commented on #53
Please make sure that you implemented a public C# property getter/setter. Note that it doesn't support simple public variables -- It needs property implementation.

[2022-06-09 22:20] VarunSriram commented on #53
Thanks just tried it out today and that solved it. Thank you for and wonderful work you've done on this library.

[2022-06-09 22:20] #53 closed, assigned to keijiro

[2022-06-12 10:13] Personuo opened #54 "Stream initialization error (OpeningDevice)"
When I run DeviceSelector scene, I immediately get this error Stream initialization error (OpeningDevice)

win10.
unity version 2021.3.4

Not sure if I'm getting something wrong, I'm not using any midi input device, I'm just trying to get the audio from loopback on windows.

I just download and run, no do anything

[2022-06-13 01:46] keijiro commented on #54
What audio device are you using?

[2022-06-13 10:00] Personuo commented on #54
A normal realtek(R) Audio in my laptop integrated sound card.
I've tried cscore and fmod with no problems,both can detect the device and output spectrum data

In Lasp, the device is still found normally , although the error is always output. The device drop-down has my sound devices (both microphone and realtek(R) Audio).

[2022-06-14 00:52] keijiro commented on #54
Is there any other processes (apps) using that audio device? Windows usually doesn't allow sharing an audio device between multiple processes.

[2022-06-14 11:29] Personuo commented on #54
There should be none, when I restarted my computer and tried lasp immediately, I still get the error.
Then I am running the cscore and fmod projects and they still work well

[2022-06-14 12:25] Personuo commented on #54
I mean, I don't have any external audio devices, only the sound card in the motherboard of my laptop.

My expectation is to play youtube music in the chrome and then unity can receive the data of this audio from loopback. (The music can still be played from my laptop speakers)

[2022-06-15 13:34] keijiro commented on #54
What happens when switching "Use Default Device"?

By the way, you can't do loopback with LASP. You have to install a virtual audio device app to loop it back to LASP.

[2022-06-15 14:10] Personuo commented on #54
yes, I found another desktop windows to test and it works fine but only searches for the microphone.
If so, then I will try other tools, thank you

[2022-07-16 14:28] MissCalculated opened #55 "Lasp scripts only see a small number of existing parameters"
Hi! Thank you again for all your tools.

I have recently started using Lasp.

Lasp's Property Binders only seem to find a few properties of the target object. Transform, rotation, scale + a couple other random ones like lightmap scale. It will see my own scripts, yet it won't see the basic public Vector3 or floats I put in them.

Is it possible for a user to write a script to use the Lasp volume o

[2022-07-16 14:48] keijiro commented on #55
Please check #53

[2022-07-16 14:48] keijiro commented on #55
I'm closing this issue now. Please reopen it for further problems.

[2022-07-16 14:48] #55 closed, assigned to keijiro

[2022-07-17 00:37] MissCalculated commented on #55
Thank you! Got it to work.

[2022-07-17 00:41] MissCalculated opened #56 "Custom filter frequencies"
Hi --

Is there a way, even by editing the script, that I could set the Audio Level Tracker filter frequencies/cutoffs more specifically?

If not, may I request that as a feature? It's quite important in the visual work I do outside of Unity, and I'm trying to incorporate those workflows into Unity as well.

ありがとう！

[2022-07-17 04:22] keijiro commented on #56
You can change the filter parameters.

https://github.com/keijiro/Lasp/blob/v2/Packages/jp.keijiro.lasp/Runtime/Internal/LevelMeter.cs#L54

I think it's not enough for precise control, though.

Please understand that the main aim of the multi-band filter embedded in LASP is just providing a quick solution for non-serious projects. I know just adding a single bandpass filter is not enough for detec

[2022-07-17 04:22] #56 closed, assigned to keijiro

[2022-07-17 05:56] MissCalculated commented on #56
Ah gotcha. I'll play with that line of code and see how it goes.

(I'm very new to coding, though I'm doing well!)

I do visuals to live audio and I would prefer to not run a DAW just for audio routing, to avoid using extra computer resources and potentially bogging down multiple instances of Unity + Resolume + Wire.

If I can make this work with Lasp it'll be perfect. I can use multiple Audio Lev

[2022-07-27 07:08] MissCalculated commented on #56
I've tried my best and now I'm back for help. When I make changes to your scripts, they are overwritten by LASP, and that goes beyond my coding knowledge.

Do you know how I could expose the filter cutoff number for use in the UI? My goal is to be able to set each Audio Level Tracker to a different cutoff. This would cover all my needs I think!

(I'm not sure DAW+VZO would work for me, since I wan

[2022-07-27 07:41] keijiro commented on #56
Are you trying to modify the script files in `Library/PackageCache`? Changes in the cache directory will be reverted by the package manager. You have to put the package files in `Packages` directory as I did in this repository.

The honest answer is "I don't know either". It would need some modifications to both the runtime / editor code. I haven't touched this project for over two years. I would

[2022-08-04 11:37] frescogusto opened #57 "change input device at runtime"
is there a way to change device ID of an AudioLevelTracker after it has been initialized, without destroying and recreating it like in the DeviceSelector example?

[2022-08-04 13:00] keijiro commented on #57
At the moment, no, it doesn't support device change after initialization.

[2022-08-13 11:27] frescogusto commented on #57
ok, thanks :)

[2022-08-13 11:27] #57 closed, assigned to keijiro

[2022-09-30 06:41] prakyath-07 commented on #28
Add these to manifest file
"org.nuget.system.memory": "4.5.3"

"scopedRegistries": [
    {
      "name": "Unity NuGet",
      "url": "https://unitynuget-registry.azurewebsites.net",
      "scopes": [
        "org.nuget"
      ]
    }
  ]

[2022-10-19 00:48] emotion-engineer opened #58 "Possible to use miniaudio to enable mobile support?"
Would it be possible to integrate [miniaudio](https://github.com/mackron/miniaudio) into LASP in order to enable mobile functionality? If it's doable I'd like to keep the issue open and post a code bounty for it.

[2022-10-19 01:29] keijiro commented on #58
Thanks for the information. It looks interesting. I think it's a good alternative to libsoundio.

I'd like to deep-dive into it when I have time. I'll keep this issue open until it.

[2022-10-22 20:19] emotion-engineer commented on #58
Cool! I posted a $50 bounty[ here](https://app.bountysource.com/issues/112972414-possible-to-use-miniaudio-to-enable-mobile-support).

[2022-10-22 20:20] emotion-engineer commented on #58
RE: the bounty - LASP does not currently work w/mobile, I'd like to see it integrated with miniaudio for this purpose.

[2022-10-27 11:50] RayyanAnsari commented on #58
does anyone have an example project that could be used to test this?

[2022-10-27 12:02] keijiro commented on #58
Note: That's not a kind of low-hanging fruits. My estimation is about one man-month. (So, $50 is too low, IMHO.)

[2022-11-06 23:22] emotion-engineer commented on #58
Ok thank you. I'm not able to commit more to the bounty just now, but feel free to point others there to contribute. I will likely put in more in the future.

[2022-11-21 20:12] PatrickkLiu commented on #28
the 'incorrect' solution worked for me after I switched to IL2CPP backend on 2019.4.6. Hope this helps!